@charset 'utf-8';
/* CSS Document */
/*--------------------------- top ---------------------------*/

.topHero_filter {
    width: 756px;
    height: 100%;
    padding: 0 122px;
    background: url(../images/line_tophero.png) center bottom no-repeat;
}
.topHero_filter li {
    float: left;
    width: 126px;
    margin: 27px 63px;
    cursor: pointer;
    text-align: center;
}
.list {
    width: 940px;
    height: 100%;
    margin: 0 30px;
    border-collapse: collapse;
    text-align: center;
    border: none;
}
.list th {
    height: 50px;
}
.list td {
    height: 40px;
}
.list td a {
    position: relative;
    display: block;
    margin: 0 auto;
    color: #6a3f1f;
}
.list td a .plus, .list td a .minus {
    position: absolute;
    top: -3px;
    right: 22px;
    color: #b71000;
}
.list td a .minus {
    color: #0067b7;
}
.list td a:hover .mini {
    display: block;
}
.top3 {
    display: inline-block;
    /*border-style: solid;
    border-width: 1px;
    border-color: rgb( 131, 0, 0 );
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(170,3,0) 0%, rgb(208,12,16) 81%);
    background-image: -webkit-linear-gradient( 90deg, rgb(170,3,0) 0%, rgb(208,12,16) 81%);
    background-image: -ms-linear-gradient( 90deg, rgb(170,3,0) 0%, rgb(208,12,16) 81%);
    min-width: 10px;
    min-height: 16px;
    padding: 0 3px;
    *width: 17px;
    *height: 17px;
    *background: url(../images/icon_list_top3.png) 0 0 no-repeat;*/

    width: 17px;
    height: 17px;
    text-align: center;
    color: #fff;
    background: url(../images/icon_list_top3.png) 0 0 no-repeat;
    line-height: 17px;
}
.listNumb {
    display: inline-block;
    /*border-style: solid;
    border-width: 1px;
    border-color: rgb( 148, 159, 175 );
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(192,201,215) 0%, rgb(235,241,244) 81%);
    background-image: -webkit-linear-gradient( 90deg, rgb(192,201,215) 0%, rgb(235,241,244) 81%);
    background-image: -ms-linear-gradient( 90deg, rgb(192,201,215) 0%, rgb(235,241,244) 81%);
    min-width: 10px;
    min-height: 16px;
    padding: 0 3px;
    *width: 17px;
    *height: 17px;
    *background: url(../images/icon_list.png) 0 0 no-repeat;
    display: inline-block;
    color: #4e4a3e;
    text-align: center;
    behavior: url(ie-css3.htc);*/

    width: 17px;
    height: 17px;
    text-align: center;
    color: #4e4a3e;
    background: url(../images/icon_list.png) 0 0 no-repeat;
    line-height: 17px;
}
/*--------------------------- btm ---------------------------*/
